//====================================================================================================
header {
}
//====================================================================================================
.header {
  &__body {
    @include flexbox();
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
  }

  &__logo {
    display: inline-block;
    width: 175px;
    img {
      width: 100%;
    }
  }
}
.menu-header {
  &__icon {
    display: none;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      @include anim(0.3s, 0s);
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        @include scale(0);
        &:first-child {
          @include rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          @include rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }

  &__menu {
  }

  &__list {
    @include flexbox();
    li {
      margin: 0px 0px 0px 35px;
    }
  }

  &__link {
    color: #646667;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    @include anim(0.3s, 0s);
    position: relative;
    &--earth {
      padding: 0px 42px 0px 0px;
      background: url("/img/icons/earch.svg") right no-repeat;
    }
    span {
      position: relative;
      line-height: 28px;
		display: block;
		&:after{
			content: '';
			position: absolute;
			right: 50%;
			width: 0;
			height: 1px;
			background-color:#007397;
			bottom: 0;
			@include anim(0.3s,0s);
		}
    }
    &:hover {
		color: #007397;
		span:after{
			right: 0;
			width: 100%;
		}
    }
  }
}

/*
	.header-menu__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
