{
  "name": "Busness",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "#source/js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/main.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "#source/js/vendors.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "#source/index.kit",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-kit\":{\"enabled\":true}}"
    },
    {
      "path": "#source/scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "css",
      "#source"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "#source/index.kit",
      "imports": [
        "#source/header.html",
        "#source/footer.html",
        "#source/js.html"
      ]
    },
    {
      "path": "#source/js/main.js",
      "imports": [
        "#source/js/jq-start.js",
        "#source/js/map.js",
        "#source/js/script.js",
        "#source/js/forms.js",
        "#source/js/jq-end.js"
      ]
    },
    {
      "path": "#source/scss/style.scss",
      "imports": [
        "#source/scss/header.scss",
        "#source/scss/footer.scss",
        "#source/scss/forms.scss",
        "#source/scss/ui.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "Business",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "b91206w7.beget.tech",
      "port": 21,
      "user": "b91206w7_business",
      "password": "denisca1978"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "/#source",
      "/.gitignore"
    ],
    "history": [
      {
        "file": "css/custom.css",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2018-11-24T08:19:58.000Z",
        "size": 0
      },
      {
        "file": "css/style.css",
        "ctime": "2020-03-16T16:50:26.000Z",
        "mtime": "2020-03-16T16:50:26.000Z",
        "size": 40073
      },
      {
        "file": "fonts/Montserrat-Black.eot",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:28.000Z",
        "size": 316124
      },
      {
        "file": "fonts/Montserrat-Black.svg",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:30.000Z",
        "size": 1523211
      },
      {
        "file": "fonts/Montserrat-Black.ttf",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:28.000Z",
        "size": 315920
      },
      {
        "file": "fonts/Montserrat-Black.woff",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:28.000Z",
        "size": 133020
      },
      {
        "file": "fonts/Montserrat-Black.woff2",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:30.000Z",
        "size": 87388
      },
      {
        "file": "fonts/Montserrat-BlackItalic.eot",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:20.000Z",
        "size": 321492
      },
      {
        "file": "fonts/Montserrat-BlackItalic.svg",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:22.000Z",
        "size": 1624664
      },
      {
        "file": "fonts/Montserrat-BlackItalic.ttf",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:20.000Z",
        "size": 321276
      },
      {
        "file": "fonts/Montserrat-BlackItalic.woff",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:20.000Z",
        "size": 138192
      },
      {
        "file": "fonts/Montserrat-BlackItalic.woff2",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:22.000Z",
        "size": 91112
      },
      {
        "file": "fonts/Montserrat-Bold.eot",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:38.000Z",
        "size": 302648
      },
      {
        "file": "fonts/Montserrat-Bold.svg",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:40.000Z",
        "size": 1781300
      },
      {
        "file": "fonts/Montserrat-Bold.ttf",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:38.000Z",
        "size": 302464
      },
      {
        "file": "fonts/Montserrat-Bold.woff",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:38.000Z",
        "size": 132532
      },
      {
        "file": "fonts/Montserrat-Bold.woff2",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:40.000Z",
        "size": 88708
      },
      {
        "file": "fonts/Montserrat-BoldItalic.eot",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:18.000Z",
        "size": 308876
      },
      {
        "file": "fonts/Montserrat-BoldItalic.svg",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:20.000Z",
        "size": 1873028
      },
      {
        "file": "fonts/Montserrat-BoldItalic.ttf",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:18.000Z",
        "size": 308664
      },
      {
        "file": "fonts/Montserrat-BoldItalic.woff",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:18.000Z",
        "size": 138772
      },
      {
        "file": "fonts/Montserrat-BoldItalic.woff2",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:20.000Z",
        "size": 92436
      },
      {
        "file": "fonts/Montserrat-ExtraBold.eot",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:26.000Z",
        "size": 303388
      },
      {
        "file": "fonts/Montserrat-ExtraBold.svg",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:28.000Z",
        "size": 1773100
      },
      {
        "file": "fonts/Montserrat-ExtraBold.ttf",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:26.000Z",
        "size": 303168
      },
      {
        "file": "fonts/Montserrat-ExtraBold.woff",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:26.000Z",
        "size": 132352
      },
      {
        "file": "fonts/Montserrat-ExtraBold.woff2",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:28.000Z",
        "size": 88708
      },
      {
        "file": "fonts/Montserrat-ExtraBoldItalic.eot",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:40.000Z",
        "size": 309388
      },
      {
        "file": "fonts/Montserrat-ExtraBoldItalic.svg",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:42.000Z",
        "size": 1871672
      },
      {
        "file": "fonts/Montserrat-ExtraBoldItalic.ttf",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:40.000Z",
        "size": 309156
      },
      {
        "file": "fonts/Montserrat-ExtraBoldItalic.woff",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:40.000Z",
        "size": 138488
      },
      {
        "file": "fonts/Montserrat-ExtraBoldItalic.woff2",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:42.000Z",
        "size": 92372
      },
      {
        "file": "fonts/Montserrat-ExtraLight.eot",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:22.000Z",
        "size": 300788
      },
      {
        "file": "fonts/Montserrat-ExtraLight.svg",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:24.000Z",
        "size": 1783592
      },
      {
        "file": "fonts/Montserrat-ExtraLight.ttf",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:22.000Z",
        "size": 300564
      },
      {
        "file": "fonts/Montserrat-ExtraLight.woff",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:22.000Z",
        "size": 130384
      },
      {
        "file": "fonts/Montserrat-ExtraLight.woff2",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:24.000Z",
        "size": 87520
      },
      {
        "file": "fonts/Montserrat-ExtraLightItalic.eot",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:34.000Z",
        "size": 305852
      },
      {
        "file": "fonts/Montserrat-ExtraLightItalic.svg",
        "ctime": "2020-03-09T12:03:43.000Z",
        "mtime": "2020-03-09T10:00:36.000Z",
        "size": 1876193
      },
      {
        "file": "fonts/Montserrat-ExtraLightItalic.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:34.000Z",
        "size": 305616
      },
      {
        "file": "fonts/Montserrat-ExtraLightItalic.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:34.000Z",
        "size": 136236
      },
      {
        "file": "fonts/Montserrat-ExtraLightItalic.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:36.000Z",
        "size": 90440
      },
      {
        "file": "fonts/Montserrat-Italic.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:52.000Z",
        "size": 308856
      },
      {
        "file": "fonts/Montserrat-Italic.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:54.000Z",
        "size": 1879005
      },
      {
        "file": "fonts/Montserrat-Italic.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:52.000Z",
        "size": 308664
      },
      {
        "file": "fonts/Montserrat-Italic.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:52.000Z",
        "size": 137844
      },
      {
        "file": "fonts/Montserrat-Italic.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:54.000Z",
        "size": 92244
      },
      {
        "file": "fonts/Montserrat-Light.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:50.000Z",
        "size": 300324
      },
      {
        "file": "fonts/Montserrat-Light.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:52.000Z",
        "size": 1792404
      },
      {
        "file": "fonts/Montserrat-Light.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:50.000Z",
        "size": 300120
      },
      {
        "file": "fonts/Montserrat-Light.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:50.000Z",
        "size": 131032
      },
      {
        "file": "fonts/Montserrat-Light.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:52.000Z",
        "size": 87596
      },
      {
        "file": "fonts/Montserrat-LightItalic.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:46.000Z",
        "size": 305720
      },
      {
        "file": "fonts/Montserrat-LightItalic.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:48.000Z",
        "size": 1883326
      },
      {
        "file": "fonts/Montserrat-LightItalic.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:46.000Z",
        "size": 305504
      },
      {
        "file": "fonts/Montserrat-LightItalic.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:46.000Z",
        "size": 136808
      },
      {
        "file": "fonts/Montserrat-LightItalic.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:48.000Z",
        "size": 91040
      },
      {
        "file": "fonts/Montserrat-Medium.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:58.000Z",
        "size": 301488
      },
      {
        "file": "fonts/Montserrat-Medium.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:01:00.000Z",
        "size": 1778718
      },
      {
        "file": "fonts/Montserrat-Medium.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:58.000Z",
        "size": 301280
      },
      {
        "file": "fonts/Montserrat-Medium.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:58.000Z",
        "size": 132260
      },
      {
        "file": "fonts/Montserrat-Medium.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:01:00.000Z",
        "size": 88596
      },
      {
        "file": "fonts/Montserrat-MediumItalic.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:24.000Z",
        "size": 307480
      },
      {
        "file": "fonts/Montserrat-MediumItalic.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:26.000Z",
        "size": 1876166
      },
      {
        "file": "fonts/Montserrat-MediumItalic.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:24.000Z",
        "size": 307260
      },
      {
        "file": "fonts/Montserrat-MediumItalic.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:24.000Z",
        "size": 138124
      },
      {
        "file": "fonts/Montserrat-MediumItalic.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:26.000Z",
        "size": 92588
      },
      {
        "file": "fonts/Montserrat-Regular.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:42.000Z",
        "size": 304296
      },
      {
        "file": "fonts/Montserrat-Regular.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:44.000Z",
        "size": 1782960
      },
      {
        "file": "fonts/Montserrat-Regular.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:42.000Z",
        "size": 304100
      },
      {
        "file": "fonts/Montserrat-Regular.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:42.000Z",
        "size": 132276
      },
      {
        "file": "fonts/Montserrat-Regular.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:44.000Z",
        "size": 88804
      },
      {
        "file": "fonts/Montserrat-SemiBold.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:36.000Z",
        "size": 302184
      },
      {
        "file": "fonts/Montserrat-SemiBold.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:38.000Z",
        "size": 1772311
      },
      {
        "file": "fonts/Montserrat-SemiBold.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:36.000Z",
        "size": 301968
      },
      {
        "file": "fonts/Montserrat-SemiBold.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:36.000Z",
        "size": 131884
      },
      {
        "file": "fonts/Montserrat-SemiBold.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:38.000Z",
        "size": 88512
      },
      {
        "file": "fonts/Montserrat-SemiBoldItalic.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:30.000Z",
        "size": 308620
      },
      {
        "file": "fonts/Montserrat-SemiBoldItalic.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:34.000Z",
        "size": 1873945
      },
      {
        "file": "fonts/Montserrat-SemiBoldItalic.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:30.000Z",
        "size": 308392
      },
      {
        "file": "fonts/Montserrat-SemiBoldItalic.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:32.000Z",
        "size": 138148
      },
      {
        "file": "fonts/Montserrat-SemiBoldItalic.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:32.000Z",
        "size": 92360
      },
      {
        "file": "fonts/Montserrat-Thin.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:56.000Z",
        "size": 300380
      },
      {
        "file": "fonts/Montserrat-Thin.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:58.000Z",
        "size": 1665286
      },
      {
        "file": "fonts/Montserrat-Thin.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:56.000Z",
        "size": 300180
      },
      {
        "file": "fonts/Montserrat-Thin.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:56.000Z",
        "size": 127792
      },
      {
        "file": "fonts/Montserrat-Thin.woff2",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:58.000Z",
        "size": 84244
      },
      {
        "file": "fonts/Montserrat-ThinItalic.eot",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:48.000Z",
        "size": 305516
      },
      {
        "file": "fonts/Montserrat-ThinItalic.svg",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:50.000Z",
        "size": 1746787
      },
      {
        "file": "fonts/Montserrat-ThinItalic.ttf",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:48.000Z",
        "size": 305304
      },
      {
        "file": "fonts/Montserrat-ThinItalic.woff",
        "ctime": "2020-03-09T12:03:44.000Z",
        "mtime": "2020-03-09T10:00:48.000Z",
        "size": 132304
      },
      {
        "file": "fonts/Montserrat-ThinItalic.woff2",
        "ctime": "2020-03-09T12:03:45.000Z",
        "mtime": "2020-03-09T10:00:50.000Z",
        "size": 87048
      },
      {
        "file": "fonts/PTSerif-Bold.eot",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:32.000Z",
        "size": 173102
      },
      {
        "file": "fonts/PTSerif-Bold.svg",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:32.000Z",
        "size": 443508
      },
      {
        "file": "fonts/PTSerif-Bold.ttf",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:32.000Z",
        "size": 172916
      },
      {
        "file": "fonts/PTSerif-Bold.woff",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:32.000Z",
        "size": 86268
      },
      {
        "file": "fonts/PTSerif-Bold.woff2",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:32.000Z",
        "size": 64236
      },
      {
        "file": "fonts/PTSerif-BoldItalic.eot",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 170790
      },
      {
        "file": "fonts/PTSerif-BoldItalic.svg",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:32.000Z",
        "size": 480080
      },
      {
        "file": "fonts/PTSerif-BoldItalic.ttf",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 170576
      },
      {
        "file": "fonts/PTSerif-BoldItalic.woff",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 85584
      },
      {
        "file": "fonts/PTSerif-BoldItalic.woff2",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:32.000Z",
        "size": 63776
      },
      {
        "file": "fonts/PTSerif-Italic.eot",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 210178
      },
      {
        "file": "fonts/PTSerif-Italic.svg",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 470555
      },
      {
        "file": "fonts/PTSerif-Italic.ttf",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 209984
      },
      {
        "file": "fonts/PTSerif-Italic.woff",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 112036
      },
      {
        "file": "fonts/PTSerif-Italic.woff2",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 83236
      },
      {
        "file": "fonts/PTSerif-Regular.eot",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:28.000Z",
        "size": 192746
      },
      {
        "file": "fonts/PTSerif-Regular.svg",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 433624
      },
      {
        "file": "fonts/PTSerif-Regular.ttf",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:28.000Z",
        "size": 192564
      },
      {
        "file": "fonts/PTSerif-Regular.woff",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:28.000Z",
        "size": 101428
      },
      {
        "file": "fonts/PTSerif-Regular.woff2",
        "ctime": "2020-03-09T12:05:15.000Z",
        "mtime": "2020-03-09T09:59:30.000Z",
        "size": 75976
      },
      {
        "file": "img/logo.svg",
        "ctime": "2020-03-09T13:49:03.000Z",
        "mtime": "2020-03-09T13:49:03.000Z",
        "size": 3704
      },
      {
        "file": "img/icons/bg_rating.svg",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2018-11-29T03:14:32.000Z",
        "size": 1669
      },
      {
        "file": "img/icons/bg_rating_active.svg",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2018-11-29T03:14:14.000Z",
        "size": 1706
      },
      {
        "file": "img/icons/check.svg",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2019-01-08T08:40:04.000Z",
        "size": 334
      },
      {
        "file": "img/icons/close.svg",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2019-01-10T04:54:46.000Z",
        "size": 399
      },
      {
        "file": "img/icons/earch.svg",
        "ctime": "2020-03-09T13:49:40.000Z",
        "mtime": "2020-03-09T13:49:40.000Z",
        "size": 1653
      },
      {
        "file": "img/icons/p-left.svg",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2019-07-21T08:02:10.000Z",
        "size": 311
      },
      {
        "file": "img/icons/p-right.svg",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2019-07-21T08:02:10.000Z",
        "size": 312
      },
      {
        "file": "img/icons/ui-icons.png",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2018-02-09T06:57:22.000Z",
        "size": 8986
      },
      {
        "file": "index.html",
        "ctime": "2020-03-16T15:51:47.000Z",
        "mtime": "2020-03-16T15:51:47.000Z",
        "size": 13993
      },
      {
        "file": "js/custom.js",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2018-11-24T08:20:06.000Z",
        "size": 0
      },
      {
        "file": "js/main.js",
        "ctime": "2020-03-15T08:11:01.000Z",
        "mtime": "2020-03-15T08:11:01.000Z",
        "size": 30983
      },
      {
        "file": "js/vendors.js",
        "ctime": "2020-03-02T13:07:19.000Z",
        "mtime": "2019-09-17T10:47:32.000Z",
        "size": 1
      },
      {
        "file": "img/mainblock/bg_mainblock.jpg",
        "ctime": "2020-03-10T03:32:48.000Z",
        "mtime": "2020-03-10T03:32:48.000Z",
        "size": 240050
      },
      {
        "file": "img/newsmwdia/01.jpg",
        "ctime": "2020-03-16T13:09:57.000Z",
        "mtime": "2020-03-16T13:09:57.000Z",
        "size": 83660
      },
      {
        "file": "img/newsmwdia/02.jpg",
        "ctime": "2020-03-15T09:27:11.000Z",
        "mtime": "2020-03-15T09:27:11.000Z",
        "size": 60104
      },
      {
        "file": "img/newsmwdia/03.jpg",
        "ctime": "2020-03-15T09:27:24.000Z",
        "mtime": "2020-03-15T09:27:24.000Z",
        "size": 70440
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}